// customize some Bootstrap variables
$primary: #006d77;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700');

.card {

  background-color: lighten(#83c5be, 20%);

  label {
    color: #006d77;
  }
}

h1 {
  color: #006d77;
  font-family: 'Merriweather', serif;

  span {
    background-color: #ffddd2;
  }
}

.form-control {
  border-color: $primary;
}

.job-wrapper {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 3em;

  @media (max-width: 992px) {
    grid-template-columns: repeat(1,1fr);
  }

  .job-item {

    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    padding: 2em;
    background-color:#edf6f9;

    h2 {
      color:$primary;
    }

    h3 {
      color:#83c5be;
    }

    &:hover {

      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

    }

    p {
      opacity: 80%;
    }

  }

}